In [2]:
from Project1 import query_db, get_numeric_stats

In [4]:
query = """
SELECT *
FROM bookings.ticket_flights"""

dbname = 'demo'

df = query_db(query, dbname)
get_numeric_stats(df, columns_to_exclude = ['flight_id'])

C:\Users\D\Python scripts\Innopolis 2024\Project1.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=engine)

             amount
min     3000.000000
mean   19914.286828
max   203300.000000

In [3]:
%run Consult2.ipynb

      customer_id  unpaid_rentals
min      1.000000        1.000000
mean   301.790566        2.739623
max    599.000000       10.000000

C:\Users\D\AppData\Local\Temp\ipykernel_6616\3734451109.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=engine)
C:\Users\D\AppData\Local\Temp\ipykernel_6616\3734451109.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=engine)